*

!packages/
packages/*

!packages/react/
!packages/atom-beautify/

packages/react/*
packages/atom-beautify/*

!packages/atom-beautify/keymaps/
!packages/atom-beautify/menus/

!packages/react/grammars/
!packages/react/settings/
!packages/react/snippets/


!*.cson
!*.coffee

